tunnel: <REPLACE_WITH_TUNNEL_ID>
credentials-file: <USER_HOME>/.cloudflared/<REPLACE_WITH_TUNNEL_ID>.json

ingress:
  - hostname: recruiting-api.example.com
    service: http://127.0.0.1:8000
  - service: http_status:404
